@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}
.content_body {
  background-color: #f3eeee;
  width: 100%;
  height: 90%;
  overflow: scroll;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  color: aqua;
  background: rgba(28, 17, 41, 0.88);
}
.app {
  display: flex;
  position: relative;
}
.menu-bars {
  text-decoration: none;
  color: #282c34;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.menu-bar {
  height: 88vh;
  margin-top: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle {
  margin-left: 15px;
}

.gradient-custom {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.align-right {
  display: flex !important;
  justify-content: right !important;
}
